@model GenreViewModel

<div class="container">
    <div class="row">
        <ul class="list-group">
            @foreach (var item in Model.AllGenres)
           {
               <li class="list-group-item">@item.Name</li>
           }
        </ul>
    </div>
</div>