@model GroupsViewModel

<div class="container">
    <div class="row">
        <ul class="list-group">

            <!-- Добавление группы/исполнителя -->
            <div class="accordion mt-3 mb-3" id="accordion-addGenre">
                <div class="accordion-item bg-white col-xl-8 col-md-8 col-sm-10" style="margin-left: 10px;">

                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Добавление группы
                        </button>
                    </h2>

                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        @await Html.PartialAsync("Validations/AddGroup", new MusicalGroup())
                    </div>
                </div>
            </div>

            <!-- Редактирование информации о группе/исполнителе -->
            <p class="mt-2 mb-3" style="margin-left: 10px;">Редактирование информации о группе/исполнителе</p>

            <div class="accordion" id="accordion-redGenre">
                @foreach (var item in Model.AllGroups)
                {
                    <div class="container mb-2">
                        <div class="row">
                            <ul style="padding-left: 0;">
                                <div class="accordion-item col-xl-8 col-md-8 col-sm-10">

                                    <h2 class="accordion-header" id="heading-@item.Id">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapseOne">
                                            @item.Name
                                        </button>
                                    </h2>

                                    <div id="collapse-@item.Id" class="accordion-collapse collapse" aria-labelledby="heading-@item.Id" data-bs-parent="#accordionExample">
                                        @await Html.PartialAsync("Validations/GroupRedaction", item)
                                    </div>
                                </div>

                                <!-- Кнопка для удаления -->
                                <button class="delete-genre mt-1"><a href="~/DBRedaction/DeleteGroup/@item.Id">Удалить</a></button>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </ul>
    </div>
</div>