@model GroupsViewModel

<div class="container">
    <div class="row">
        <ul class="list-group">
            @foreach (var item in Model.AllGroups)
           {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@item.Id">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapseOne">
                            @item.Name
                            <button class="delete-genre"><a href="#">Удалить</a></button>
                        </button>
                    </h2>
                    <div id="collapse-@item.Id" class="accordion-collapse collapse" aria-labelledby="heading-@item.Id" data-bs-parent="#accordionExample">
                        @await Html.PartialAsync("GroupRedaction", item);
                    </div>
                </div>
           }
        </ul>
    </div>
</div>