@model GenreViewModel

<div class="container">
    <div class="row">
        <ul class="list-group">

            <!-- Тоже самое в DBRedaction/AllGroup, AllMusic -->
            <!-- !!! Добавить механизм для добавления, добавлять аккордеон (CheckOut.cshtml в Test) -->
            <div class="accordion bg-dark mt-3 mb-3" id="accordion-addGenre"
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Добавить жанр
                        </button>
                    </h2>

                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="row">
                                @*<form asp-action="RedactGenres" method="post" class="form-horizontal">

                                    <div class="form-group">
                                        <label asp-for="Id"></label>
                                        <div class="col-md-5">
                                            <input asp-for="Id" class="form-control" />  <p>Редактирование данного поля может привести к созданию новой модели</p>
                                            <span asp-validation-for="Id" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <div class="col-md-5">
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Description"></label>
                                        <div class="col-md-5">
                                            <input asp-for="Description" class="form-control" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="PicturePath"></label>
                                        <div class="col-md-5">
                                            <input asp-for="PicturePath" class="form-control" />
                                            <span asp-validation-for="PicturePath" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <input class="btn btn-success" type="submit" value="Завершить редактирование" />
                                </form>*@
                            </div>
                        </div>
                </div>
            </div>

            <p class="mt-2 mb-3">Редактирование информации о жанрах</p>

            <div class="accordion" id="accordion-redGenre">
                @foreach (var item in Model.AllGenres)
                {

                <div class="container mb-2">
                    <div class="row">
                        <ul style="padding-left: 0;">
                            <div class="col-xl-8 col-md-8 col-sm-10 accordion-item">
                                <h2 class="accordion-header" id="heading-@item.Id">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapseOne">
                                        @item.Name
                                    </button>
                                </h2>

                                <div id="collapse-@item.Id" class="accordion-collapse collapse" aria-labelledby="heading-@item.Id" data-bs-parent="#accordionExample">
                                    @await Html.PartialAsync("GenreRedaction", item)
                                </div>
                            </div>


                            <!-- Кнопка для удаления -->
                            <button class="delete-genre mt-1"><a href="~/DBRedaction/DeleteGenre/@item.Id">Удалить</a></button>
                        </ul>
                    </div>
                </div>
                }
            </div>
        </ul>
    </div>
</div>