<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="~/DBRedaction/AllGenre" role="button">Жанры</a>
        <a class="btn btn-primary" href="~/DBRedaction/AllGroup" role="button">Группы</a>
        <a class="btn btn-primary" href="~/DBRedaction/AllMusic" role="button">Музыка</a>
    </div>
</div>