<div class="container">
    <div class="row">

        <p class="mt-2" style="margin-left: 10px;">Какую информацию хотите заменить?</p>

        <a class="bg-dark btn btn-primary mx-3" href="~/DBRedaction/AllGenre" role="button">Жанры</a>
        <a class="bg-dark btn btn-primary mt-3 mx-3" href="~/DBRedaction/AllGroup" role="button">Группы</a>
        <a class="bg-dark btn btn-primary mt-3 mx-3" href="~/DBRedaction/AllMusic" role="button">Музыка</a>

        <img id="kit" class="mt-3" src="~/img/kit.gif" alt="redaction kit" />
        <div class="text-center mt-2">Да-да, это Саша и именно так он</div>
        <div class="text-center">прописывает однотипное говно.</div>
    </div>
</div>