@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="row">

        <!-- !!! Расположить по-нормальному -->
        <div>
            <p>© 2021 Vems, Inc. · <a href="#">Privacy</a>
        </div>

        <div>Icons of genres made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Автор иконок: <a href="https://www.flaticon.com/ru/authors/usdesign12" title="usdesign12">usdesign12</a> from <a href="https://www.flaticon.com/ru/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</div>
