@model MusicViewModel

<div class="container">
    <div class="row">

        <h2 class="text-center mt-3 mb-3">Музыка</h2>

        <!-- !!! Сделать так, чтоб играл только один трек --> <!-- !!! Если название длинное, после опред. кол-ва символов должно идти "..." -->

        <!-- !!! Расставить col под xl, md, sm. -->
        <!-- !!! Меньше шрифт, отступы, бордеры и прочее -->
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-12">

                    <div class="jouele-playlist" data-repeat="true">

                        @foreach (Music item in Model.AllMusic)
                        {
                            @await Html.PartialAsync("OneMusicOnScreen", item)
                        }

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>