@model GroupsViewModel

<div class="container">
    <div class="row">

        <h2 class="text-center mt-3 mb-3">Исполнители</h2>

        @foreach (MusicalGroup item in Model.AllGroups)
        {
            @await Html.PartialAsync("ExecutorCard", item)
        }

    </div>
</div>