@model GroupsViewModel

<div class="container">
    <div class="row">

        <h2 class="text-center mt-3 mb-3">@ViewBag.Genre</h2>

        <!-- !!! Из артистов сделать здесь карусельку с карточками поменьше (ссылка на всех исполнителей чуть ниже, показывать первых несколько, из тех, что в любимой музыке и тд). Песни по жанру ниже. -->

        @foreach (MusicalGroup item in Model.AllGroups)
        {
            @await Html.PartialAsync("_ExecutorCard", item)
        }

    </div>
</div>