@model MusicViewModel

<div class="container">
    <div class="row align-items-center mb-5">

        @foreach (Music item in Model.AllMusic)
        {
            @await Html.PartialAsync("_OneMusicOnScreen", item)
        }

    </div>
</div>
