<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/img/vems_logo_blank.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>VemsMusic</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top">
            <div class="container-fluid">

                <!-- Лого -->
                <a class="navbar-brand" href="~/#">
                    <img src="~/img/vemsmusic_logo_brand_mini.png" alt="VemsMusic">
                </a>

                <!-- Кнопка для показа модального меню -->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Блок с навигационным меню -->
                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="~/#">Главная</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/#">Новое</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/#">Исполнители</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/#">Музыка</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/#">Моя музыка</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/AboutUs">О нас</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/DBRedaction/Index">Войти</a>
                        </li>
                    </ul>
                </div>

                <!-- Блок с модальным меню -->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">VemsMusic</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 d-block">

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="~/#">Главная</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/#">Новое</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/#">Исполнители</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/#">Музыка</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/#">Моя музыка</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/AboutUs">О нас</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/DBRedaction/Index">Войти</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>

    </header>

    <!-- Контейнер для заполнения через контроллеры и другие файлы -->
    <div id="main">
        <!-- Не нужен класс container, прописывается на других страницах отдельно -->
        @RenderBody()
    </div>

    <!-- Кнопка для подъёма наверх -->
    <a id="up-arrow" class="fixed-bottom float-right" href="#">
        <img class="img-fluid" src="~/img/up-arrow.png" alt="Подняться вверх">
    </a>

    <!-- Футер -->
    <footer></footer>

    <!-- Контейнер под музыку -->
    <div id="playing" class="container fixed-bottom justify-content-center align-items-center">

        <!-- Обложка трека -->
        <div class="row">
            <div class="col-xl-3 col-md-2 col-sm-1">
                <img class="img-fluid" src="~/img/group-icon/beatles-abbey-road.jpg" alt="None"> <!-- Нужна заполняшка !!! asp-тэги/jQuerry передачи -->
            </div>
        </div>

        <!-- Название трека и исполнитель -->
        <div class="row">
            <div class="col-xl-3 col-md-3 col-sm-3">

            </div>
        </div>

        <!-- Проигрыватель и элементы управления -->
        <div class="row">
            <div class="col-xl-6 col-md-7 col-sm-8">

            </div>
        </div>
    </div>

    <!-- !!! Сделать модульное окно об куках -->

    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>

</html>