@model MusicalGroup

    <form asp-action="RedactGroups" method="post" class="form-horizontal">

        <div class="form-group">
            <label asp-for="Id"></label>
            <div class="col-md-5">
                <input asp-for="Id" class="form-control" /> <p>Редактирование данного поля может привести к созданию новой модели</p>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <div class="col-md-5">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Picture"></label>
            <div class="col-md-5">
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="GenreId"></label>
            <div class="col-md-5">
                <input asp-for="GenreId" class="form-control" />
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
        </div>

        <input class="btn btn-success" type="submit" value="Завершить редактирование" />
    </form>