@model Music

    <form asp-action="RedactMusics" method="post" class="form-horizontal">

        <div class="form-group">
            <label asp-for="Id"></label>
            <div class="col-md-5">
                <input asp-for="Id" class="form-control" />  <p>Редактирование данного поля может привести к созданию новой модели</p>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Text"></label>
            <div class="col-md-5">
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ImagePath"></label>
            <div class="col-md-5">
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AudioPath"></label>
            <div class="col-md-5">
                <input asp-for="AudioPath" class="form-control" />
                <span asp-validation-for="AudioPath" class="text-danger"></span>
            </div>
        </div>

        <!-- !!! Сделать выпадающий список с жанрами -->
        <div class="form-group">
            <label asp-for="GenreId"></label>
            <div class="col-md-5">
                <input asp-for="GenreId" class="form-control" />
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
        </div>

        <!-- !!! Сделать выпадающий список с группами -->
        <div class="form-group">
            <label asp-for="GroupId"></label>
            <div class="col-md-5">
                <input asp-for="GroupId" class="form-control" />
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
        </div>

        <input class="btn btn-success" type="submit" value="Завершить редактирование" />
    </form>